body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
}

.login-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: white;
    padding: 50px 50px;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    text-align: center;
}

.login-box h1 {
    margin-bottom: 10px;
    color: black;
}

.login-box h3 {
    margin-top: 3px;
    font-size: 16px;
}

.login-box h3 a {
    color: red;
}

.input-group {
    margin-bottom: 5px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group label::after {
    content: " *";
    color: red;
}


.input-group input {
    width: 100%;
    padding: 8px;
    padding-top: 13px;
    border-radius: 5px;
    border: 1px solid#ccc;
    font-size: 14px;
}

.btn-group {
    width: 100%;
    padding: 8px;
    padding-top: 20px;
}

.btn-group button {
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.btn-login {
    background: black;
    color: white;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
}

.btn-login:hover {
    background: white;
    color: #ccc;
    border: 1px solid black;
}